<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Azure Search</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header class="navbar">
        <div class="nav-left">
            <a asp-page="/Index" class="logo">Azure Search</a>
        </div>

        <nav class="nav-right">
            <a asp-page="/Index">Home</a>
            <a asp-page="/Collections/Index">Collections</a>

            <partial name="_LoginPartial" />
        </nav>
        </nav>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        © 2025 — Azure_SearchProject
    </footer>

</body>
</html>
